<div class="container justify-content-center">
    <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h1>Please Register</h1>
        <div class="form-group">
            <label class="sr-only" for="inputUserName" >User Name</label>
            <input type="text" id="inputUserName" [formControlName]="'username'" placeholder="User Name" required="" autofocus="">
        </div>
        <div class="form-group">
            <label class="sr-only" for="inputEmail" >Email</label>
            <input type="text" id="inputEmail" [formControlName]="'email'" placeholder="Email" required="">
        </div>
        <div class="form-group">
            <label class="sr-only"for="inputPassword" >Password</label>
            <input type="password" id="inputPassword" [formControlName]="'password'" placeholder="Password"  >
        </div>
        <div class="form-group">
            <label class="sr-only" for="inputConfirm" >Confirm Password</label>
            <input type="password" id="inputConfirm" [formControlName]="'confirmPassword'" placeholder="Confirm Password"  >
        </div>
        <button type="submit" >Register</button>
    
    </form>
</div>
