<div class="add-post-content">
    <div class="container">
        <div>
            <h3 class="new-post-content">Create new Post</h3>
        </div>
        <hr>
        <form class="" [formGroup]="addPostForm">
            <div class="form-group">
                <label class="post-title">Title</label>
                <input class="form-control" type="text" [formControlName]="title" placeholder="Title"> 
            </div>
            <div class="form-group">
                <label class="post-content">body</label>
                <editor [formControlName]="body" [init]="{plugins :'link'}" ></editor>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    </div>
</div>
