<div class="header">
    <div class="container">
      <div class="row" *ngFor="let post of posts | async">

        <div class="info-card">
            <h3><a href="/post/{{post.id}}" class="post-group">{{post.title}}</a></h3>
            <div class="author">
                <i class="fas fa-user"></i>Author <p>{{post.username}}</p>
            </div>
            <p [innerHTML]="post.content"></p>
            <div>
                <a type="button" href="/post/{{post.id}}" class="btn btn-primary">Read more</a>
            </div>
            <hr>
        </div>
        <hr>
      </div>
    </div>
  </div>